.container {margin: auto;			
			width: 100%;}

header {text-align: center;
		margin-bottom: 10px;}			



.menu {text-align: center;
		background-color: lightgrey;
		padding: 10px;
		word-spacing: 8px;
		margin-bottom: 10px;
	}

.feature {text-align: center;
			margin: auto;
			background-color: lightgrey;
			padding: 10px;
			margin-bottom: 10px;
			}

.wrapper {
	text-align:center;
	display: table;
    width: 100%;
}

.box {
	text-align: center;
	padding: 10px;
	background-color: lightgrey;
    display: table-cell;
}

.middle{
	display: table-cell;
    width: 3%;
}

.copyright {background-color:lightgrey;
			text-align:center;
			padding:10px;
			margin-top: 10px;

		}