.container {margin: auto;			
			width: 100%;}

header {text-align: center;
		margin-bottom: 10px;}			



.menu {text-align: center;
		background-color: lightgrey;
		padding: 10px;
		word-spacing: 8px;
		margin-bottom: 10px;
	}

.feature {text-align: center;
			margin: auto;
			background-color: lightgrey;
			padding: 10px;
			margin-bottom: 10px;
			}

.column {width: 31%;
		text-align: center;
		padding: 10px;
		background-color: lightgrey;
		display: inline-block;
		margin-right: 1%;


		 }

.columns {white-space:nowrap;
			text-align:center;


		}


.copyright {background-color:lightgrey;
			text-align:center;
			padding:10px;
			margin-top: 10px;

		}